include README.md
include LICENSE
include requirements.txt
include modules.txt
include patches.txt
include config.json
recursive-include electronic_office *
recursive-include api *
recursive-include public *
recursive-include templates *
recursive-include www *
